database.php
/config/database.php
/correspondence/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/logs/laravel.log
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
*.bak
*.log
composer.lock
.DS_Store
