.float-right {
	float:right;
}
.float-left {
	float:left;
}
.top_blackbar {
	background-color: #000;
	border-color: #000;
	height: 18px;
}
body {
	background-color: #ffffff;
	font-family: "HelveticaNeue", Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
footer {
	padding-top: 30px;
}
footer p {
	color: #c0dbf4;
	margin: 0px;
	font-size: 16px;
}
/************************
NAVIGATION
*************************/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #e2e2e2;
}
i.fa.fa-user.user-icon.user-toggle:before {
    background: #08446c;
}
i.fa.fa-user.user-icon.user-toggle {
    padding-top: 12px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	font-family: "HelveticaNeue-CondensedBold", Roboto, Arial, sans-serif;
	font-size: 22px;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}
span.housing_services-title {
	color: #3282bb;
	font-weight: bold;
}
.user-icon {
	font-size: 24px !important;
	color: #ffffff;
}
.panel-heading_link, .panel-heading_link:hover, .panel-heading_link:visited {
	color: #222222;
}
.navbar-inverse {
	background-color: #04446c;
	border-color: #04446c;
	margin-bottom: 0px;
}
.services_heading_right h3 a,
.services_heading_right h3 a:hover,
.services_heading_right h3 a:visited {
	color: #222222;
}
/*.quick-escape_wrapper button {
    position: fixed;
    right: 0;
    }*/
/************************
DASHBOARD
*************************/
.welcome-banner {
	width: 100%;
}
.welcome-banner h3 {
	color: #232323;
	font-weight: 600;
}
.dashboard_notifications {
	padding-bottom: 30px;
}
.toolbox-banner h3 {
	color: #0263aa;
	font-weight: normal;
	font-size: 22px;
}
.container-wrapper.tools-wrapper {
	background-color: #F3EEE9;
	padding: 50px 0px;
}
.container-wrapper.services-wrapper {
	background-color: #FFFFFF;
	padding: 00px 0px 50px;
}

.container-wrapper.tools-wrapper.no-padding {
	padding: 0;
}

.quick-escape_wrapper {
	text-align: right;
}
.btn-danger {
	color: #fff;
	background-color: #ae0000;
	border-color: #ae0000;
	border-radius: 0px;
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	width: 130px;
	line-height: 1;
}
.tool-box {
	box-shadow: 1px 2px 3px grey;
	margin: 20px 0px;
	padding: 30px 20px;
	background: #ffffff;
}
.tool-box_half {
	box-shadow: 1px 2px 3px grey;
	border-top: 0px;
	padding:30px 20px;
	background: #ffffff;
}
.tool-box a {
	font-size: 24px;
	color: #454545;
}
.tool-box a i {
	font-size: 30px;
	color: #454545;
	padding-right: 10px;
}
.tool-box_half a {
	font-size: 24px;
	color: #454545;
}
.toolbox-banner {
	padding-left: 0px;
}
.mail_icon-link {
	text-align:right;
}
.toolbox-banner.mail_icon-link i {
	font-size: 30px;
}
.services_heading_right {
	padding: 0px 0px;
}
.panel-heading .services_heading_right h3 {
	font-size: 32px;
	color: #222222;
	font-weight: bold;
	margin-top: 0;
}
.panel-footer {
	background-color: #f8f6f5;
	border: 0px;
	color: #7e7d7d;
}
.icon_read_mark {
	padding: 0px;
}
.services_body_right p {
	font-size: 16px;
}
.services_body_right strong {
	color: #0d293c;
}
.services_body_date {
	padding: 0px;
}
br.show-sm-down {
	display: none;
}
/************************
DASHBOARD OPTION A
*************************/
.panel.panel-primary h4 {
	font-size: 14px;
	color: #0063ae;
	font-weight: bold;
	padding-top: 20px;
}
.recommended_buttons a svg {
	width: 40px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: -7px;
}
.recommended_buttons a svg {
	width: 40px;
	height: 30px;
	margin-top: 10px;
}
.enquiry_number {
	font-size: 18px;
	text-align: center;
}
.services_buttons a {
	width: 100%;
	padding: 25px 15px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: #3382be;
	border: 0px;
	border-radius: 0px;
	text-align: left;
}

.services_buttons {
	padding-top: 20px;
}
.services_buttons:nth-child(1n) {
	padding-left: 0px;
}
.services_buttons:nth-child(3n) {
	padding-right: 20px;
}
.services_buttons.col-xs-6.col-md-4.col-lg-4 {
	padding-left: 0px;
}
.services_buttons a svg {
	height: 60px;
	width: 60px;
}

/* Recommended Links */
.recommended_links-wrapper {
	padding: 50px 0px;
}
.quicklinks_half {
	padding: 0px;
}
.quick_links-wrapper {
	background-color: #062e48;
}
.quick_links-wrapper {
	padding: 30px 0px;
	color: #fff;
}
.quicklinks_half ul {
	list-style: none;
	padding-left: 0;
}
.quicklinks-title h4 {
	font-weight: 600;
}
.quicklinks_half ul li {
	color: #c0dbf4;
	font-size: 18px;
	padding: 10px 0px;
}
.col-md-8.col-md-offset-2.navigation-offset-col {
	padding-left: 0px;
}
.panel-primary>.panel-heading {
	color: #222222;
	background-color: #ffffff;
	border-color: #ffffff;
	min-height: 40px;
	display: flex;
}
.panel-primary {
	border: 0px;
	box-shadow: none !important;
	margin: 5px 0px;
	/* padding: 30px 20px; */
	background: #ffffff;
}
.toolbox-banner p {
	margin: 0px;
}
.show-more {
	font-weight: bold;
}

.letters-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.letter-read, .letter-unread {
	border: 2px solid #3282be;
	background-color: #ffffff;
	height: 100px;
	border-radius:50%;
	width: 22px;
	height: 22px;
}

.letter-unread {
	background-color: #3282be;
}

.mark-as-unread {
	color: #0d293c;
	font-weight: 700;
	font-size:16px;
}

.letter-date {
	font-style: italic;
}

.arrow-up {
	padding-left: 8px;
	margin: 0;
}
.panel-body-services {
	padding: 30px;
}
.panel-body {
	padding: 15px;
	margin: 0;
}
.services_toolbox .panel-body {
	padding:  10px;
	margin: 0;
}

.panel-first {
	padding-top: 10px;
}
.panel-last {
	padding-bottom: 10px;
}

.service-name, .service-type {
	padding-left: 15%%;
}

.service-type {
	font-size: 24px;
}

.toolbox-wrapper{
	margin: 0 auto;
	float: none;
}
.services_toolbox {
    margin: 30px auto;
    float: none;
}
.welcome_banner-wrapper {
	margin: 0 auto;
	float: none;
}

/************************
DASHBOARD - mail icons
*************************/
.letter-numbers{
	color: white;
	text-align: center;
	font-size: 0.4em;
	position: relative;
	top: -1.6em;
	z-index: 100;
	font-weight: 700;
}

/* Between 1 and 9 */
.few {
	margin-right: 0.8em;
}

/* Between 10 and 99 */
.some {
	margin-right: 0.55em;
}

/* Between 100 and 999 */
.lots {
	margin-right: 0.3em;
}

/* Between >999 */
.too-many {
	margin-right: 0.1em;
}

/************************
Letter
*************************/
#rippleZoomIn, #rippleZoomOut, #rippleDownload, #ripplePrint {
	margin: 10px;
	width: 240px;
}

#rippleDownload {
	margin-left: 0;
}

/************************
Recommended Links
*************************/
.recommended_links-wrapper {
	padding: 50px 0px;
	margin: 0 auto;
	float: none;
}
.recommended_links-banner {
	padding: 0px 20px;
}
.recommended_tools-wrapper {
	padding: 0px;
	background-color: #F3EEE9;
}
.recommended_links-text li {
	font-size: 18px;
	padding: 10px 0px;
	color: #35515f;

}
.recommended_links-text li a {
	color: #3282bb;
	text-decoration: underline;
}
.recommended_links-text ul {
	list-style: none;
	padding-left: 20px;
}
.recommended_links-text li:before {
	content: "â— ";
	font-size: 20px;
	color: #3382be;
}
.recommended_links-banner p {
	font-size: 22px;
	color:#0063ae;
}
/************************
Recommended buttons
*************************/
.recommended_buttons {
	padding: 10px 10px;
}
.recommended_buttons a {
	width: 100%;
	padding: 25px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	border: 0px;
	border: 0px;
	box-shadow: 2px 2px 4px 0 rgba(170, 170, 170, 0.5);
}
.recommended_buttons_tools-wrapper {
	padding: 30px 0px;
	background-color: #F3EEE9;
}
.recommended_buttons_tools-wrapper .recommended_links-wrapper {
	padding: 0px;
}
/************************
Recommendation buttons
*************************/
.recommendation_buttons a {
	width: 100%;
	padding: 25px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	background-color: #3382be;
	border: 0px;
	border-radius: 0px;
}
.recommendation_buttons {
	padding: 10px 10px;
}
.recommendation_buttons-wrapper {
	margin: 0 auto !important;
	float: none;
}
.recommendation_links-wrapper {
	background-color: #ffffff;
	padding: 40px 0px;
}
/************************
Recommendation buttons
*************************/
.upload_index-button {
	width: 100%;
	padding: 20px;
}
.upload_index-button {
	width: 100%;
	padding: 10px 0px;
}

/************************
Footer
*************************/

.footer-wrapper {
	margin: 0 auto;
	float: none;
	padding-left: 0px;
}

@media screen and (max-width: 991px) {
	.services_buttons {
		padding-top: 20px 20px;
	}
	.services_buttons:nth-child(1n) {
		padding-left: 0px;
	}
	.services_buttons:nth-child(2n) {
		padding-right: 0px;
	}
	.services_buttons {
		padding-right: 20px;
	}
	.mark-as-unread {
				padding-top: 6px;
				color: #0d293c;
				font-weight: 700;
				font-size:14px;
	}
}
@media screen and (max-width: 768px) {

	button.navbar-toggle.collapsed {
	}
	.navigation-offset-col {
		padding: 0px !important;
	}
	button.navbar-toggle {
		margin-right: 0px;
	}
	.letter-date {
		padding-top: 6px;
	}
}
@media screen and (max-width: 480px) {
	.recommended_buttons a {
		text-align: left;
	}
	.recommended_buttons a span {
		font-size: 16px;
	}
	.recommended_buttons a svg {
		width: 40px;
		height: 30px;
		margin-top: 10px;
	}
	br.show-sm-down {
		display: block;
	}

	.services_buttons a {
		font-size: 14px;
	}
	.navbar-brand {
		padding: 15px 0px;
		font-size: 12px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		font-family: "HelveticaNeue-CondensedBold", Roboto, Arial, sans-serif;
		font-size: 18px;
	}
	.tool-box_half.col-xs-12:nth-child(1) {
		margin: 0px;
		margin-bottom: 10px;
	}
	.tool-box_half.col-xs-12:nth-child(2) {
		margin-left: 0px;
		margin-top: 10px;
	}
	.tool-box:nth-child(2) {
		margin-right: 4px;
	}
	.toolbox_half-row {
		display: inline-block;
		margin: 0px;
		width: 100%;
	}
	.toolbox_half-row {
		display: inline-block;
	}
	.toolbox-row {
		margin: 0px;
	}
	.services_body_right {
		padding-left: 0px;
	}
	.footer-wrapper {
		margin: 0 auto;
		float: none;
		padding-left: 15px;
	}
	.panel-heading .services_heading_right h3 {
		font-size: 28px;
	}
	.services_buttons {
		padding:  10px 10px;
	}

	.services_buttons:nth-child(3) {
		padding-right: 10px;
	}
}
@media screen and (min-width: 960px) {

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin: 0px;
		padding: 15px 0px;
	}
	.col-md-6.col-xs-12.col-lg-6.tool-box:nth-child(2) {
		margin-right: -10px;
	}
}
