.float-right {
	float:right;
}
.float-left {
	float:left;
}
body {
	background-color: #ffffff;
	font-family: "HelveticaNeue", Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
footer {
	padding-top: 30px;
}
footer p {
	color: #c0dbf4;
	margin: 0 0 0 -15px;
	font-size: 16px;

}
.vic-gov_footer_logo {
	padding: 20px 0px;
}

.odd-row {
	background-color: #faf8f7;
}

#service option {
	padding: 3px;
}

#sessionStatus {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	padding: 10px;
	margin: -10px auto auto auto;
}

.closeCrossDiv {
	float: right;
	margin-top: -4px !important;
}

.closeCrossDiv a {
	padding: 3px 10px;
	font-size: 18px;
	text-decoration: none;
}

#sessionStatus.alert.alert-danger .closeCrossDiv a {
  color: #a94442;
}

#sessionStatus.alert.alert-success .closeCrossDiv a {
  color: #3c763d;
}

#sessionStatus.alert.alert-warning .closeCrossDiv a {
	color: #8a6d3b;
}

#sessionStatus.alert.alert-info .closeCrossDiv a {
  color: #31708f;
}
/************************
NAVIGATION
*************************/

/* Account for top navbar */
body {
	padding-top: 50px;
}

/* Navbar */
#transparent-overlay {
		display: none;
		background-color: #ffffff;
		opacity: 0.7 !important;
		filter: alpha(opacity=60); /* For IE8 and earlier */
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width: 100%;
		margin: 0;
		z-index: 1029;
}

.services_heading_right h3 a {
    color: #000 !important;
}

nav div.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-header {
	background-color: #003455;
}

.navbar-inverse .navbar-brand {
	font-family: "HelveticaNeue-CondensedBold", "Roboto Condensed", Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
}

.navbar-header button {
	margin-left: 15px;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    border: none;
		background-color: transparent;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

#navbar {
	background-color: #0062aa;
	width: 300px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .01s ease;
	-o-transition: height .01s ease;
  transition: height .01s ease;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

/*
.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;

}
*/
#password_hide {
    display: none;
}
.navbar-header {
		float: none;
}
.navbar-toggle {
		display: block;
    padding: 8.5px 10px;
}
.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
		display: none!important;
}
.navbar-nav {
		float: none!important;
		background-color: #0062aa;
}
.navbar-nav>li {
		float: none;
		border-bottom: 1px solid #005CA0;
}

.navbar-nav>li:hover,
.navbar-nav>li:focus,
.navbar-nav>li:active {
	background-color: #004676;
}

.navbar-nav>li>a {
		padding: 16px 30px;
		font-size: 18px;
		line-height: 1.6em;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse  {
	color: #ffffff;
}

.navbar-collapse.collapse.in {
	display: block !important;
}

/* Affect the bar animation */

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.3s;
}

.navbar-toggle .top-bar {
    transform: translateX(3px) rotate(135deg);
    transform-origin: 42% 140%;
		height: 3px;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: translateX(3px) rotate(-135deg);
  transform-origin: 40% -80%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Navbar images */

.navbar-menu-image {
		display: inline;
		position: relative;
		top: 6px;
		padding-right: 20px;
}

.navbar-menu-image svg {
	color: #ccdfee;
	height: 24px;
	width: 24px;
  fill: currentColor;
}

ul.dropdown-menu > li > a > .navbar-menu-image svg {
	color: #052236 !important;
	height: 18px;
	width: 18px;
  fill: currentColor;
	stroke: currentColor;
}

/************************
QUICK ESCAPE
*************************/

	#quick-escape {
		display: block;
		float: right;
		height: 50px;
		background-color: #d91047;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: white;
		font-weight: normal;
		vertical-align: middle;
		border-left: 2px solid #ffffff;
		padding: 16px;
		margin: 0;
		position: fixed;
		top: 0;
		z-index: 2000;
		right: 0;
	}

/* Tablet */
@media screen and (max-width: 991px) {
	#quick-escape {
		font-size: 16px;
	}

	.navbar-inverse .navbar-brand {
    font-size: 18px;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -25px;
    transform: none;
    left: 0;
    position: static;
	}

	.navbar-brand {
    transform: none;
    position: static;
	}
}

/* Mobile */

@media screen and (max-width: 767px) {
	#quick-escape {
    font-size: 13px;
		word-wrap: break-word;
		width: 60px;
		text-align: right;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.navbar-nav {
	    margin: 0 -15px;
	}

	.navbar-nav > li > a {
    padding: 12px 30px;
    font-size: 17px;
    line-height: 1.6em;
	}

	.navbar-menu-image {
	    top: 5px;
	    padding-right: 12px;
	}

	.navbar-menu-image svg {
    height: 20px;
    width: 20px;
	}

	#navbar {
    width: auto;
  }

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .pre-scrollable {
    max-height: none;
	}
}

/*
@media only screen and (max-width: 1199px) {

	#quick-escape-wrapper {
		position: fixed;
		bottom: 0;
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		z-index: 2000;
	}

	#quick-escape {
		background-size: 36px 36px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: block;
		top: auto;
		float: right;
		height: 50px;
		width: 50px;
		font-family: "HelveticaNeue-CondensedBold", "Roboto Condensed", Arial, sans-serif;
		font-weight: bold;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		vertical-align: middle;
		color: white;
		background-color: #db4437;
		border: 1px solid #db4639;
		padding: 12px 2px;
		-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
		-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
		box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
		margin: 30px;
	}


}
	*/

/************************
DASHBOARD
*************************/
.welcome-banner {
	width: 100%;
}
.welcome-banner h3 {
	color: #232323;
	font-weight: 600;
}
.toolbox-banner h3 {
	color: #0263aa;
	font-weight: normal;
	font-size: 22px;
}
.container-wrapper {
	padding: 40px 0;
}
.container-wrapper.tools-wrapper {
	background-color: #F3EEE9;
	padding: 50px 0;
}
.container-wrapper.services-wrapper {
	background-color: #faf8f7;
	padding: 36px 0 50px 0;
}

.placeholder-banner {
    padding: 15px 0px;
}

.edit_profile-wrapper {
    padding: 20px 0px;
}

.placeholder-banner h4 {
    color: #232323;
    font-weight: 600;
}

.placeholder-banner button a {
    color: #ffffff;
    font-weight: 600;
}

.container-wrapper.tools-wrapper.no-padding {
	padding: 0;
}

/*
.quick-escape_wrapper {
	text-align: right;
}


.btn-danger {
	color: #fff;
	background-color: #ae0000;
	border-color: #ae0000;
	border-radius: 0px;
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	width: 130px;
	line-height: 1;
}
*/


.last-login {
	opacity: 0.5;
  font-size: 13px;
  line-height: 1.54em;
  color: #232323;
	padding-bottom: 11px;
}
.tool-box {
	box-shadow: 1px 2px 3px grey;
	margin: 20px 0px;
	padding: 30px 20px;
	background: #ffffff;
}
.tool-box_half {
	box-shadow: 1px 2px 3px grey;
	border-top: 0px;
	padding:30px 20px;
	background: #ffffff;
}
.tool-box a {
	font-size: 24px;
	color: #454545;
}
.tool-box a i {
	font-size: 30px;
	color: #454545;
	padding-right: 10px;
}
.tool-box_half a {
	font-size: 24px;
	color: #454545;
}
.toolbox-banner {
	padding-left: 0px;
}
.mail_icon-link {
	text-align:right;
}
.toolbox-banner.mail_icon-link i {
	font-size: 30px;
}
.services_heading_right {
	padding: 0px 0px;
}
.panel-heading .services_heading_right h3 {
	font-size: 32px;
	color: #222222;
	font-weight: bold;
	margin-top: 0;
}
.panel-footer {
	background-color: #f8f6f5;
	border: 0px;
	color: #7e7d7d;
}
.icon_read_mark {
	padding: 0px;
}
.services_body_right p {
	font-size: 16px;
}
.services_body_right strong {
	color: #0d293c;
}
.services_body_date {
	padding: 0px;
}
br.show-sm-down {
	display: none;
}
/************************
DASHBOARD OPTION A
*************************/
.panel.panel-primary h4 {
	font-size: 14px;
	color: #0063ae;
	font-weight: bold;
	padding-top: 20px;
}

.recommended_buttons a svg {
	width: 25px;
	height: 25px;
	margin: 10px 10px -7px 0;
	margin-top: 10px;
	align-content: center;
	overflow: visible;
	color: #bdbdbd;
	fill: currentColor;
}

.recommended_buttons a span {
	margin-left: 10px;
	text-decoration: underline;
	color: #0063ae;
	font-size: 18px;
	line-height: 30px;
}

.recommended_buttons a span.external-link {
    margin-left:0;
    color: #0063ae;
}

a span.external-link svg {
	width: 15px;
	height: 15px;
	margin-top: 0;
	align-content: center;
	overflow: visible;
	color: #ffffff;
	fill: currentColor;
	vertical-align: text-top;
	margin-left: 3px;
}

.recommended_buttons a span.external-link svg {
	color: #0063ae;
	fill: currentColor;
}

.enquiry_number {
	font-size: 18px;
	text-align: center;
}

.dashboard_notifications {
	color: #000000;
	font-size: 18px;
	line-height: 30px;
}

.dashboard_notifications a {
	color: #0063ae;
	font-weight: 500;
	text-decoration: underline;
}

.ho-header {
	margin-top: 20px;
	margin-left: -15px;ho-text-wrapper
	font-size: 18px;
	color: #000;
	font-size: 18px;
}

.ho-text-wrapper {
	margin: 20px 0 20px -15px;
}

.ho-text {
	color: #232323;
	font-size: 13px;
}

.ho-text a {
	text-decoration: none;
	color: #232323;
}

.ho-image-marker {
	height: 100%;
	width: 32px;
	float: left;
	color: #0062aa;
	font-size: 16px;
}

.services_buttons a {
	width: 100%;
	padding: 25px 35px;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
	background-color: #0062aa;
	border: none;
	border-radius: 0 0 12px 0;
	text-align: left;
	-webkit-box-shadow: 1px 3px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 3px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 3px 1px 0 rgba(0, 23, 41, 0.2);
}

.services_buttons a:hover,
.services_buttons a:active,
.services_buttons a:focus {
	background-color: #005199;
	border-color: #005199;
}

#letters-0 {
	padding-right: 0 !important;
	border-right: none;
}

#letters-0 a {
	border-radius: 0;
	border-right: none;
}

#letters-1 {
	padding-left: 0 !important;
	border-left: none;
}

#letters-1 a {
	border-left: none;
}

.services_buttons {
	padding-top: 14px;
}

.services_buttons.col-xs-6.col-md-4.col-lg-4 {
	padding-left: 0px;
	padding-right: 10px;
}

/* Dashboard Tiles */
/* Desktop */

	.services_buttons:nth-child(3n+1) {
		padding-left: 0px !important;
		padding-right: 7px !important;
	}

	.services_buttons:nth-child(3n+2) {
		padding-left: 7px !important;
		padding-right: 7px !important;
	}

	.services_buttons:nth-child(3n+3) {
		padding-left: 7px !important;
		padding-right: 0 !important;
	}

/* Tablet */
@media screen and (max-width: 991px) {
	.services_buttons:nth-child(3n+1) {
		padding-left: 0px !important;
		padding-right: 7px !important;
	}

	.services_buttons:nth-child(3n+2) {
		padding-left: 7px !important;
		padding-right: 7px !important;
	}

	.services_buttons:nth-child(3n+3) {
		padding-left: 7px !important;
		padding-right: 0 !important;
	}

}


	/* Mobile Phone */
	@media screen and (max-width: 767px) {

		.services_buttons {
    	padding-top: 10px;
		}
		.services_buttons:nth-child(2n+1) {
			padding-left: 0 !important;
			padding-right: 5px !important;
		}

		.services_buttons:nth-child(2n+2) {
			padding-left: 5px !important;
			padding-right: 0 !important;
		}

		.services_buttons a {
	    	width: 100%;
	    	padding: 18px 15px;
		}

		.container-wrapper.services-wrapper {
		    padding: 0 0 30px 0;
		}

		.welcome-banner h3 {
    	font-size: 20px;
			line-height: 26px;
		}

		.container-wrapper {
	    padding: 10px 0 24px 0;
		}

		.recommended_buttons a span {
    margin-left: 0;
		font-size: 16px;
		line-height: 30px;

		}
	}


/* ************************************* */

.services_buttons a svg {
	height: 38px;
	width: 38px;
}

/* Recommended Links */
.recommended_links-wrapper {
	padding: 50px 0px;
}
.quicklinks_half {
	padding: 20px;
}

.quick_links-wrapper {
	padding: 50px 0px;
	color: #fff;
	background-color: #003455;
}

.very-last-row {
	background-color: #000;
	padding-bottom: 30px;
}

.quicklinks_half ul {
	list-style: none;
	padding-left: 0;
}
.quicklinks-title h4 {
	font-weight: 600;
}
.quicklinks_half ul li {
	color: #c0dbf4;
	font-size: 18px;
	padding: 10px 0px;
}

.nrs-logo {
	width: 100px;
}

.nrs-logo svg {
	fill: #e5e1de;
}

#nrs-text-div .footer-text {
  margin-left: -10px;
  margin-right: -32px;
}

/* For really large desktop screen */

@media screen and (min-width: 1200px) {
	#nrs-text-div .footer-text {
		margin-left: -30px;
		margin-right: -32px;
	}
}

.footer-text {
	font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.footer-image-marker {
	margin-bottom: 5px;
}

#nrs-div .footer-image-marker {
	 float: left;
	 margin-right: 20px;
	 margin-bottom: 40px;
}

.flag-0, .flag-1 {
	width: 64px;
	display: inline-block;
	overflow: hidden;
}

.flag-1 {
	margin-left: 20px;
}

.logo-vichs {
	width: 215px;
	margin-top: -20px;
}

.logo-vichs svg {
	overflow: visible;
}

.panel-primary>.panel-heading {
	color: #222222;
	background-color: #ffffff;
	border-color: #ffffff;
	min-height: 40px;
	display: flex;
}
.panel-primary {
	border: 0px;
	box-shadow: none !important;
	margin: 5px 0px;
	/* padding: 30px 20px; */
	background: #ffffff;
}
.toolbox-banner p {
	margin: 0px;
}
.show-more {
	font-weight: bold;
}

.letters-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.letter-read, .letter-unread {
	border: 2px solid #3282be;
	background-color: #ffffff;
	height: 100px;
	border-radius:50%;
	width: 22px;
	height: 22px;
}

.letter-unread {
	background-color: #3282be;
}

.mark-as-unread {
	color: #0d293c;
	font-weight: 700;
	font-size:16px;
}

.letter-date {
	font-style: italic;
}

.arrow-up {
	padding-left: 8px;
	margin: 0;
}
.panel-body-services {
	padding: 30px;
}
.panel-body {
	padding: 15px;
	margin: 0;
}
.services_toolbox .panel-body {
	padding:  10px;
	margin: 0;
}

.panel-first {
	padding-top: 10px;
}
.panel-last {
	padding-bottom: 10px;
}

.service-name, .service-type {
	padding-left: 15%%;
}

.service-type {
	font-size: 24px;
}

.services_toolbox {
    margin: 0 auto;
    float: none;
}

.toolbox-wrapper{
	margin: 0 auto;
	float: none;
}
.inbox_toolbox {
    margin: 30px auto;
    float: none;
		background-color: #f3eee9;
		padding: 50px;
}
.welcome_banner-wrapper {
	margin: 0 auto;
	float: none;
}

/* Tablet */
@media screen and (max-width: 991px) {
	.footer-text {
	    font-size: 12px;
	    line-height: 22px;
	}

	#nrs-logo-div {
		margin-top: 40px;
	}

	#nrs-logo-div .footer-image-marker {
    margin-bottom: 0;
	}

	.logo-vichs {
    margin-top: -10px;
	}

	#copyright-notice {
		display: none;
	}

	.quick_links-wrapper {
	    padding: 50px 0px 30px 0;
	}

	#nrs-text-div .footer-text {
	    margin-left: 0;
	    margin-right: -40px;
	    margin-top: 32px;
	}

	a span.external-link svg {
    width: 11px;
    height: 12px;
	}

}



/************************
DASHBOARD - mail icons
*************************/
.letter-numbers{
	color: white;
	text-align: center;
	font-size: 0.4em;
	position: relative;
	top: -1.6em;
	z-index: 100;
	font-weight: 700;
}

/* Between 1 and 9 */
.few {
	margin-right: 0.8em;
}

/* Between 10 and 99 */
.some {
	margin-right: 0.55em;
}

/* Between 100 and 999 */
.lots {
	margin-right: 0.3em;
}

/* Between >999 */
.too-many {
	margin-right: 0.1em;
}

/************************
LETTER
(PDF rendered to HTML)
*************************/
.pdf2html-wrapper {
	width: 100%;
  height: 0;
  border: 0;
	margin: 0;
	overflow: hidden;
}

.btn-vhs {
    font-size: 16px;
    background-color: #0363ab;
    color: #ffffff;
    border-radius: 0;
}

.btn-vhs.active, .btn-vhs:active, .btn-vhs:hover, .open > .btn-vhs.dropdown-toggle {
	background-color: #2d97e6;
    color: #ffffff;
}

.btn-vhs svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    fill: #ffffff;
}

.btn-vhs_wrapper a {
	text-align: left;
    -webkit-box-shadow: 1px 3px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 1px 0 rgba(0, 23, 41, 0.2);
}

.btn-vhs_wrapper a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-vhs_wrapper a:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.edit_profile-wrapper a {
    color: #fff;
}

#rippleFullScreen, #rippleDownload, #ripplePrint {
	width: 180px;
}

#rippleDownload {
	margin-left: 0;
}

.with-top-margin {
	padding-top: 30px !important;
}

.loading {
	width: 100%;
	height: auto;
	padding: 0px;
	text-align: center;
}
.edit-button-wrapper {
    margin: 0 auto;
    float: none;
    padding: 0px 20px;
}
.pdfjs {
	display: none;
}
.password_checkbox {
	font-size: 26px;
	margin-top: 10px !important;
}
 
/*
@media only screen and (max-width: 767px) {
	#rippleDownload, #ripplePrint {
    margin: 10px 10px 20px 10px;
    width: 42%;
	}

	#rippleFullScreen {
		display: none;
	}

	.with-top-margin {
		padding-top: 10px !important;
	}
	.centered-on-mobile {
		text-align: center;
	}
}
*/
/************************
Recommended Links
*************************/
.recommended_links-wrapper {
	padding: 50px 0px;
	margin: 0 auto;
	float: none;
}
.recommended_links-banner {
	padding: 0px 20px;
}
.recommended_tools-wrapper {
	padding: 0px;
	background-color: #F3EEE9;
}
.recommended_links-text li {
	font-size: 18px;
	padding: 10px 0px;
	color: #35515f;

}
.recommended_links-text li a {
	color: #3282bb;
	text-decoration: underline;
}
.recommended_links-text ul {
	list-style: none;
	padding-left: 20px;
}
.recommended_links-text li:before {
	content: "● ";
	font-size: 20px;
	color: #3382be;
}
.recommended_links-banner p {
	font-size: 22px;
	color:#0063ae;
}
/************************
Recommended buttons
*************************/
.recommended_buttons {
	margin: 20px 15px;
}
.recommended_buttons a {
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	border: 0px;
	border: 0px;
	text-align: left;
	text-decoration: none;
	}
.recommended_buttons_tools-wrapper {
	padding: 30px 0px;
	background-color: #fff;
}
.recommended_buttons_tools-wrapper .recommended_links-wrapper {
	padding: 0px;
}
/************************
Recommendation buttons
*************************/
.recommendation_buttons a {
	width: 100%;
	padding: 25px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	background-color: #3382be;
	border: 0px;
	border-radius: 0px;
}
.recommendation_buttons {
	padding: 10px 10px;
}
.recommendation_buttons-wrapper {
	margin: 0 auto !important;
	float: none;
}
.recommendation_links-wrapper {
	background-color: #ffffff;
	padding: 40px 0px;
}
/************************
Recommendation buttons
*************************/
.upload_index-button {
	width: 100%;
	padding: 20px;
}
.upload_index-button {
	width: 100%;
	padding: 10px 0px;
}

/************************
Footer
*************************/

.footer-wrapper {
	margin: 0 auto;
	float: none;
	padding-left: 15px;
}

/* Mobile */
@media screen and (max-width: 767px) {
	.services_toolbox {
    margin: 30px auto;
    float: none;
	}

	.ho-header {
		margin-left: 20px;
	}

	.ho-text-wrapper {
    margin: 30px 0 20px 20px;
	}

	.nrs-logo {
     width: 60px;
 	}

	#nrs-text-div .footer-text {
	    margin-left: 0;
	    margin-right: -3px;
	}

	.recommended_buttons {
	    padding: 0;
	    margin: 8px 0;
	}

	.recommended_buttons a {
	    width: auto;
	    padding: 0;
			padding-left: 15px !important;
	}

}

/*
@media screen and (max-width: 991px) {
	.services_buttons {
		padding-top: 20px 20px;
	}
	.services_buttons:nth-child(1n) {
		padding-left: 0px;
	}
	.services_buttons:nth-child(2n) {
		padding-right: 0px;
	}
	.services_buttons {
		padding-right: 20px;
	}
	.mark-as-unread {
				padding-top: 6px;
				color: #0d293c;
				font-weight: 400;
				font-size:14px;
	}
}
*/
/*
@media screen and (max-width: 767px) {
	.letter-date {
		padding-top: 6px;
	}
}
@media screen and (max-width: 480px) {
	.recommended_buttons a {
		text-align: left;
	}
	.recommended_buttons a span {
		font-size: 16px;
	}
	.recommended_buttons a svg {
		width: 40px;
	}

	br.show-sm-down {
		display: block;
	}

	.services_buttons a {
		font-size: 14px;
	}
	.tool-box_half.col-xs-12:nth-child(1) {
		margin: 0px;
		margin-bottom: 10px;
	}
	.tool-box_half.col-xs-12:nth-child(2) {
		margin-left: 0px;
		margin-top: 10px;
	}
	.tool-box:nth-child(2) {
		margin-right: 4px;
	}
	.toolbox_half-row {
		display: inline-block;
		margin: 0px;
		width: 100%;
	}
	.toolbox_half-row {
		display: inline-block;
	}
	.toolbox-row {
		margin: 0px;
	}
	.services_body_right {
		padding-left: 0px;
	}
	.footer-wrapper {
		margin: 0 auto;
		float: none;
		padding-left: 15px;
	}
	.panel-heading .services_heading_right h3 {
		font-size: 28px;
	}
	.services_buttons {
		padding:  10px 10px;
	}

	.services_buttons:nth-child(3) {
		padding-right: 10px;
	}

	.inbox_toolbox {
			padding: 12px;
	}
} */
/*
@media screen and (min-width: 960px) {
	.col-md-6.col-xs-12.col-lg-6.tool-box:nth-child(2) {
		margin-right: -10px;
	}
}
*/
