/* Mobile */
@media screen and (max-width: 767px) {

	#quick-escape {
		font-size: 16px;
	}

	.navbar-inverse .navbar-brand {
		font-size: 18px;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -25px;
		transform: none;
		left: 0;
		position: static;
	}

	.navbar-brand {
		transform: none;
		position: static;
	}
	.edit_profile-wrapper .container {
		padding: 0px;
	}

	#quick-escape {
		font-size: 13px;
		word-wrap: break-word;
		width: 60px;
		text-align: right;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.navbar-nav {
		margin: 0 -15px;
	}

	.navbar-nav > li > a {
		padding: 12px 30px;
		font-size: 17px;
		line-height: 1.6em;
	}

	.navbar-menu-image {
		top: 5px;
		padding-right: 12px;
	}

	.navbar-menu-image svg {
		height: 20px;
		width: 20px;
	}

	#navbar {
		width: auto;
	}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .pre-scrollable {
		max-height: none;
	}

	.services_buttons {
		padding-top: 10px;
	}
	.services_buttons:nth-child(2n+1) {
		padding-left: 0 !important;
		padding-right: 5px !important;
	}

	.services_buttons:nth-child(2n+2) {
		padding-left: 5px !important;
		padding-right: 0 !important;
	}

	.services_buttons a {
		width: 100%;
		padding: 18px 15px;
		font-size: 16px;
	}

	.container-wrapper.services-wrapper {
		padding: 0 0 30px 0;
	}

	.welcome-banner h3 {
		font-size: 20px;
		line-height: 26px;
	}

	.container-wrapper {
		padding: 10px 0 24px 0;
	}

	.recommended_buttons a span {
		margin-left: 0;
		font-size: 14px;
	}

	.services_toolbox {
		margin: 30px auto;
		float: none;
	}

	.nrs-logo {
		width: 60px;
	}

	#nrs-text-div .footer-text {
		margin-left: 0;
		margin-right: -3px;
	}
	.edit_profile-wrapper button {
		width: 100%;
		border-radius: 0px;
	}
	.password_checkbox {
		float: right
	}


	.tile-number-unread {
		  padding: 3px 7px;
	}

	.tile-message {
	    font-size: 13px;
	    margin: 6px 35px 0 -35px;
	}

	.tile-new {
    width: 186px;
    padding: 15px 10px;
    font-size: 13px;
    position: relative;
    top: -36px;
    left: -50px;
		line-height: 1.3em;
	}

	.tile-shadow {
		width: 186px;
    padding: 10px;
    position: relative;
		top: -160px;
		left: -46px;
	}

	.tile-new-date {
		margin-left: 10px;
	}

	.tile-new-summary {
    margin-left: 10px;
	}

	.summary-wrapper {
    margin-left: -6px;
    width: 140px;
  }

	.lots {
    padding: 4px 0 !important;
	}
}

/* For really small screens */
@media screen and (max-width: 468px) {
	.edit-button-wrapper {
		margin: 0 auto;
		float: none;
		padding: 0px;
	}
}

@media screen and (max-width: 320px) {
	.tile-new {
    width: 166px;
    position: relative;
    top: -36px;
    left: -50px;
		line-height: 1.2em;
	}

	.tile-shadow {
		width: 166px;
    position: relative;
		top: -160px;
		left: -46px;
	}

	.tile-action {
		width: 16px;
		height: 16px;
	}

	.tile-action svg {
		width: 16px !important;
		height: 16px !important;
	}

	.summary-wrapper {
    margin-left: -6px;
    width: 126px;
	}
}
