.contact-address-details {
    padding: 0px;
}

.all_letter_list {
    padding: 10px 10px;
    border-top: 1px solid lightgrey;
    color: #232323;
}

.all_letter_list:last-child {
    box-shadow: 2px 2px 4px lightgrey;
}

.all_letter_list {
    box-shadow: 2px 1px 2px 0px lightgrey;
}

.letter_list_unread {
	font-weight: bold;
}

.letter_list_header {
    padding: 20px 0px;
}

.letter_list_header_right .dropdown button {
    width: 100%;
    text-align: right;
}

.letter_list_header_right {
    padding: 20px 0px;
    text-align: right;
}

.sort_by_icon {
    font-size: 18px;
}

.letter_list_header_right button {
    background: #f5f1ef;
    border: none;
    border-radius: 0px;
}

.letter_list_header a {
	padding: 0px;
}

.letter_list_wrapper {
    display: flow-root;
}

.all_letter_list .col-md-1 {
    text-align: right;
}

.all_letter_list .col-md-2 {
    text-align: right;
}

.all_letter_list .col-md-1 i {
    color: #e08a0f;
    font-size: 24px;
}

.all_letter_list a {
    color: #232323;
}

.sort_by_text {
	color: #0063ae;
}

.letter_list_wrapper .letter_list_header h4 {
    font-size: 18px;
    color: #0063ae;
    font-weight: bold;
    padding-top: 10px;
}
