.contact-address-details {
	padding: 0px;
}

.all_letter_list {
	padding: 10px 10px;
	border-top: 1px solid lightgrey;
	color: #232323;
}

.all_letter_list_unread:last-child {
	box-shadow: 2px 2px 4px lightgrey !important;
}

.all_letter_list:last-child {
	box-shadow: 2px 2px 4px lightgrey;
}

.all_letter_list:hover {
	box-shadow: 0px 2px 8px darkgrey !important;
}
.all_letter_list:hover div {
	text-decoration: underline !important;
}

.all_letter_list {
	box-shadow: 2px 1px 2px 0px lightgrey;

}

.letter_list_unread {
	font-weight: bold;
}

.letter_list_header {
	padding: 10px 0px;
}

.letter_list_header_right .dropdown button {
	width: 100%;
	text-align: right;
}

.letter_list_header_right {
	padding: 20px 0px;
	text-align: right;
}

/* TO-DO: Rachelle to change
.container-wrapper.services-wrapper {
	background-color: #faf8f7;
	padding: 0px 0 0px 0;
}
*/

.sort_by_icon {
	font-size: 18px;
}

.letter_list_header_right button {
	background: #f5f1ef;
	border: none;
	border-radius: 0px;
}

.letter_list_header a {
	padding: 0px;
}

.letter_list_wrapper {
	display: flow-root;
}

.all_letter_list .col-md-1 {
	text-align: right;
}

.all_letter_list .col-md-2 {
	text-align: right;
}

.all_letter_list .col-md-1 i {
	color: #e08a0f;
	font-size: 24px;
}

.all_letter_list a {
	color: #232323;
}

.sort_by_text {
	color: #0063ae;
}

.letter_list_header h4 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.letter_list_header h4,
.letter_list_header a {
	color: #0063ae;
}

.account_panel h4 {
	font-size: 14px;
	color: #0063ae;
	font-weight: bold;
	padding-top: 20px;
}

/*Accounts*/

.account_title_header {
	border: 0px;
	box-shadow: none !important;
	margin: 5px 0px;
	/* padding: 30px 20px; */
}

.account_body {
	border: 0px;
	box-shadow: none !important;
	padding-bottom: 20px;
}

/*Buttons*/

/* TO-DO: Rachelle to change
a {
	color: #0363ab;
	text-decoration: none;
}
*/

html > body > .services-wrapper > .container > .row > .panel-body > .services_heading_right > ul > li:nth-child(1) > span {
	color: #333333;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	background-color: #0363ab;
	border-color: #0363ab;
	cursor: default;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.6;
	text-decoration: none;
	color: #0363ab;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.pagination>li:nth-child(10) > span{
	color: #333333;
}

/* TO-DO: Rachelle to change
.btn-primary {
	color: #fff;
	background-color: #0363ab;
	border-color: #2a88bd;
}
*/
/*LOAD MORE */


.all_letter_list {
	display:none;
	padding: 10px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #fff;
	margin-bottom: 5px;
}
.totop {
	position: fixed;
	bottom: 10px;
	right: 20px;
}
.totop a {
	display: none;
}
#loadMore {
	padding: 10px;
	text-align: center;
	color: #fff;
	border-style: solid;
	border-color: #fff;
	transition: all 600ms ease-in-out;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	width: 200px;
	font-size: 18px;
}

.col-md-12.load_more_button {
	text-align: center;
	padding: 20px;
}

#dropdownMenu1 span {
	margin-top: 3px;
}

.letters-list-wrapper {
	padding-bottom: 20px;
}

.inbox-wrapper {
    background-color: #faf8f7;
		padding: 22px 0 20px 0;
}

@media screen and (max-width: 991px) {


	.toolbox-banner.mail_icon-link {
		display: flex;
	}

	.toolbox-banner.mail_icon-link > p:first-child {
		padding-left: 0px !important;
		border-left: none;
	}

	.mail_icon-link > p {
		padding: 0 10px;
		border-left: 2px solid darkgrey;
	}

	.acount_title_right {
		padding-left: 20px;
		width: 150px;
	}
	.all_letter_list {
		display: none;
		padding: 10px;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: #fff;
		margin-bottom: 5px;
		height: 85px;
		overflow: hidden;
		padding-right: 0px;
	}
	.hide-on-mobile {
		display: none;
	}
	.all_letter_list .col-md-2 {
		text-align: right;
		float: right;
		background-color: #fff;
		height: 100px;
		box-shadow: -15px 8px 20px #ffffff;
		padding: 10px 10px;
		margin-top: -53px;
	}

	.all_letter_list > div:nth-child(2), .all_letter_list > div:nth-child(1) {
		width: 1000px;
	}
}
